<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--parameterMap已经被废弃-->
<mapper namespace="com.zh.learn.mapper.UserMapper">
    <update id="save" timeout="1000" flushCache="true" statementType="PREPARED" keyColumn="USER_ID" keyProperty="userId"
            useGeneratedKeys="true">

        INSERT INTO CLOUD_USER (user_name, user_nick_name, password, last_login_time)
        values (#{userName}, #{userNickName}, #{password}, #{lastLoginTime})
    </update>
    <delete id="delete" timeout="1000" flushCache="true" parameterType="long" statementType="PREPARED" lang="XML">
        DELETE
        FROM CLOUD_USER
        WHERE USER_ID = #{1};
    </delete>
    <delete id="test" timeout="1000" flushCache="true" parameterType="long" statementType="PREPARED" lang="XML">
        DELETE
        FROM CLOUD_USER
        WHERE USER_ID = #{1};
    </delete>
</mapper>
